body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:
    radial-gradient(circle at top, #312e81, #020617);
  color: white;
  overflow-x: hidden;
}

/* ESTRELLAS */

body::before {
  content: "";
  position: fixed;
  width: 200%;
  height: 200%;
  background-image:
    radial-gradient(white 1px, transparent 1px);

  background-size: 50px 50px;

  opacity: 0.08;

  animation: moveStars 80s linear infinite;

  z-index: -1;
}

@keyframes moveStars {

  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-500px);
  }

}

/* HERO */
.hero {
  height: 100vh;

  background:
    linear-gradient(
      rgba(2,6,23,0.7),
      rgba(2,6,23,0.9)
    ),
    url('cover.png');

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 20px;
}

.overlay h1 {
  font-size: 5rem;
  margin-bottom: 10px;

  text-shadow:
    0 0 20px rgba(139,92,246,0.7);
}

.overlay p {
  font-size: 1.3rem;
  max-width: 700px;
  color: #d1d5db;
}

/* BOTON */

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 15px 35px;

  background:
    linear-gradient(
      to right,
      #8b5cf6,
      #6366f1
    );

  color: white;

  text-decoration: none;

  border-radius: 14px;

  font-size: 1rem;

  transition: 0.3s;

  box-shadow:
    0 0 25px rgba(139,92,246,0.5);
}

.btn:hover {
  transform: scale(1.05);
}

/* EPISODIOS */

.episodes {
  padding: 80px 20px;
  text-align: center;
}

.episodes h2 {
  font-size: 3rem;
  margin-bottom: 40px;
}

/* CARDS */

.card {

  background:
    rgba(255,255,255,0.08);

  backdrop-filter: blur(10px);

  border:
    1px solid rgba(255,255,255,0.1);

  margin: 25px auto;

  padding: 25px;

  border-radius: 24px;

  max-width: 600px;

  transition: 0.3s;
}

.card:hover {

  transform: translateY(-5px);

  box-shadow:
    0 0 30px rgba(139,92,246,0.3);
}

/* SPOTIFY */

.spotify {
  padding: 80px 20px;
  text-align: center;
}

.spotify h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.spotify iframe {
  max-width: 700px;
}

/* REDES */

.socials {
  text-align: center;
  padding: 50px;
}

.socials a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.3s;
}

.socials a:hover {
  color: #a78bfa;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 25px;

  background:
    rgba(0,0,0,0.3);

  color: #9ca3af;
}
