body {
  margin: 0;
  background: linear-gradient(to bottom, #0f172a, #1e293b);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

header {
  padding: 80px 20px;
}

h1 {
  font-size: 4rem;
  color: #c084fc;
}

.subtitle {
  color: #d1d5db;
  font-size: 1.2rem;
}

button {
  margin-top: 30px;
  padding: 15px 35px;
  border: none;
  border-radius: 15px;
  background: #c084fc;
  color: white;
  font-size: 1rem;
}

.episodes {
  padding: 50px 20px;
}

.card {
  width: 320px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(192,132,252,0.15);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.socials a {
  color: white;
  background: rgba(255,255,255,0.08);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
}

footer {
  padding: 40px;
}

@keyframes gradientMove {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}